<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h1>About Pets 'n Stuff!</h1>
      </div>
      <div class="col-md-1">
        <h1><a href="/" class="btn btn-default btn-lg">Back &raquo;</a></h1>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="center-this">
      <img src="/images/about-dog.jpg">
    </div>
    <h2>History</h2>
    <p>
      Our mission is to provide quality products for your best friend. Our co-founders, Laura Goldberg and Jenna Friedman, started Pets 'n Stuff in 2002 and we've been making dogs smile ever since.
    </p>
  </div>
  <div class="col-md-2"></div>
</div>