<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Pets 'n Stuff!</h1>
    <p>We're a locally owned pet shop based in Brooklyn. We specialize in providing toys that will entertain and engage your pets.</p>
    <div class="center-this">
      <p>
        <a href="/about" class="btn btn-default btn-lg">&laquo; About Us</a>
        <a href="/products" class="btn btn-default btn-lg">Products &raquo;</a>
      </p>
    </div>
  </div>
</div>