<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">

    <title>Pets 'n Stuff</title>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>